.hero-drawer__header {
  background-color: #6200ee;
  background-color: var(--mdc-theme-primary, #6200ee);
  color: #fff;
  color: var(--mdc-theme-on-primary, #fff);
}

.drawer-container-flex,
.drawer-header-flex {
  display: inline-flex;
}

.drawer-frame {
  width: 100%;
  height: 400px;
}

.drawer-frame-link {
  color: inherit;
  font-size: inherit;

  & > i {
    width: 24px;
    height: 24px;
    padding: 12px;
  }
}
