@import "@material/list/mixins";

.demo-list {
  max-width: 600px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.hero-list {
  background: #fff;
}

.demo-list--avatar-list {
  :global {
    @include mdc-list-item-graphic-fill-color(text-icon-on-background);
    @include mdc-list-item-graphic-ink-color(text-primary-on-dark);
  }
}
