@import "@material/top-app-bar/mixins";

.app-header {
  // FIXME: z-index will no longer be required (https://github.com/material-components/material-components-web/commit/3f6bbc110571b6023a1276be89c32c86e8eb77cd)
  z-index: 2;
  :global {
    @include mdc-top-app-bar-fill-color(#202124);
  }

  &__title {
    font-family: "Roboto Mono", sans-serif;
    font-weight: 400;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 1.143rem;
  }
}
