@import "@material/image-list/mixins";

.hero-image-list {
  width: 300px;
  :global {
    @include mdc-image-list-standard-columns(5);
    .mdc-image-list__image {
      background: #202124;
    }
  }
}

.standard-image-list {
  max-width: 900px;
  :global {
    @include mdc-image-list-standard-columns(5);
    @include mdc-image-list-aspect(3 / 2);
  }
}

.masonry-image-list {
  max-width: 900px;
  :global {
    @include mdc-image-list-masonry-columns(5);
  }
}

@media (max-width: 599px) {
  .standard-image-list {
    :global {
      @include mdc-image-list-standard-columns(3);
    }
  }
  .masonry-image-list {
    :global {
      @include mdc-image-list-masonry-columns(3);
    }
  }
}
