.hero-top-app-bar {
  height: 64px;
  width: 80%;
  min-width: 300px;
}

.hero-top-app-bar > header {
  position: relative;
}

.top-app-bar-frame {
  width: 100%;
  height: 200px;
}

.top-app-bar-frame-link {
  color: inherit;
}
